[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = git://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/custom_features/input_format_editor"]
	path = sites/all/modules/custom_features/input_format_editor
	url = /home/szantogabor/public_html/submodules/input_format_editor/.git
[submodule "sites/all/modules/custom_features/fr_og_blog"]
	path = sites/all/modules/custom_features/fr_og_blog
	url = /home/szantogabor/public_html/submodules/fr_og_blog/.git
[submodule "sites/all/modules/custom_features/fr_og_settings"]
	path = sites/all/modules/custom_features/fr_og_settings
	url = /home/szantogabor/public_html/submodules/fr_og_settings/.git
[submodule "sites/all/modules/custom_features/fr_roles_settings"]
	path = sites/all/modules/custom_features/fr_roles_settings
	url = /home/szantogabor/public_html/submodules/fr_roles_settings/.git
[submodule "sites/all/modules/custom_features/fr_language_settings"]
	path = sites/all/modules/custom_features/fr_language_settings
	url = /home/szantogabor/public_html/submodules/fr_language_settings/.git
[submodule "strongarm"]
	path = strongarm
	url = http://git.drupal.org/project/strongarm.git
[submodule "sites/all/modules/strongarm"]
	path = sites/all/modules/strongarm
	url = http://git.drupal.org/project/strongarm.git
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = git://git.drupal.org/project/features
[submodule "sites/all/modules/custom_features/fr_blog_post"]
	path = sites/all/modules/custom_features/fr_blog_post
	url = /home/szantogabor/public_html/submodules/fr_blog_post/.git
[submodule "sites/all/modules/boxes"]
	path = sites/all/modules/boxes
	url = git://git.drupal.org/project/boxes
[submodule "sites/all/modules/custom_features/custom_block_fr"]
	path = sites/all/modules/custom_features/custom_block_fr
	url = /home/szantogabor/public_html/submodules/custom_block_fr
[submodule "sites/all/modules/wysiwyg_fields"]
	path = sites/all/modules/wysiwyg_fields
	url = git://git.drupal.org/project/wysiwyg_fields
[submodule "sites/all/modules/purl"]
	path = sites/all/modules/purl
	url = git://git.drupal.org/project/purl

